* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
    padding: 50px;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

/* BUTTONS */
/* Choose PDFs */
.upload-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    box-shadow: 0 10px #4e4e75;
    text-shadow: 1px 1px #2c2c54;
    transition: 0.3s ease-in-out;
}

.upload-label:hover {
    background: #adade4;
    box-shadow: 0 4px #4e4e75;
    transform: translateY(5px);
}

/* Merge PDFs */
button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #ff4081;
    color: white;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 10px #b7184d;
    text-shadow: 1px 1px #2c2c54;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: #e91e63;
    box-shadow: 0 4px #b7184d;
    transform: translateY(5px);
}

#merge-button:disabled {
    background: #ff4081 !important;
    cursor: not-allowed !important;
    box-shadow: 0 10px #b7184d !important;
    text-shadow: none;
}

#file-list-container {
    margin-top: 10px;
    display: none;
    background: #e91e63;
    padding: 10px;
    border-radius: 8px;
}

/* FILE LIST */
#file-list-container h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

#file-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: white;
}

#file-list li {
    margin: 5px 0;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* LOADING */
#loading-container {
    display: none;
    margin-top: 20px;
}

#loading-container p {
    font-size: 14px;
    margin-bottom: 10px;
}

#progress-bar {
    width: 0%;
    height: 8px;
    background: #ff4081;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}